<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title">Bienvenido {{diccionario.user}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="button-group">
    <ion-button color="tertiary" routerLink="/book">Categorías</ion-button>
    <ion-button color="tertiary" routerLink="/contact">Contacto</ion-button>
    <ion-button color="tertiary" routerLink="/other">Aún no sé</ion-button>
  </div>

    <div class="card-container">
      <ion-card>
        <img alt="El Libro de Bill" src="https://images.cdn1.buscalibre.com/fit-in/360x360/12/79/12798b635e427e9becdf113d914fcb87.jpg" />
        <ion-card-header>
          <ion-card-title>El Libro de Bill</ion-card-title>
          <ion-card-subtitle>Alex Hirsch (Autor)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card>
        <img alt="El Buzón de las Impuras" src="https://images.cdn2.buscalibre.com/fit-in/360x360/36/65/3665b7d148187a1063e75ff18a520ee7.jpg" />
        <ion-card-header>
          <ion-card-title>El Buzón de las Impuras</ion-card-title>
          <ion-card-subtitle>Francisca Solar García (Autor)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card>
        <img alt="Una Corte de Niebla y Furia" src="https://images.cdn2.buscalibre.com/fit-in/360x360/19/4b/194bdcb66deb24d793e4b85cd8d3a5bf.jpg" />
        <ion-card-header>
          <ion-card-title>Una Corte de Niebla y Furia. Edición Especial</ion-card-title>
          <ion-card-subtitle>Sarah J. Maas (Autor)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card>
        <img alt="La Serpiente y las Alas de la Noche" src="https://images.cdn1.buscalibre.com/fit-in/360x360/3e/17/3e17887b1707eef55e0332765b746d2b.jpg" />
        <ion-card-header>
          <ion-card-title>La Serpiente y las Alas de la Noche</ion-card-title>
          <ion-card-subtitle>Carissa Broadbent (Autor)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card>
        <img alt="El Patio del Poder" src="https://images.cdn3.buscalibre.com/fit-in/360x360/c8/88/c8884c066b060ea6ccc3fb9dfa3de2f3.jpg" />
        <ion-card-header>
          <ion-card-title>El Patio del Poder</ion-card-title>
          <ion-card-subtitle>Renato Garin González (Autor)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>
  

<!-- Barra de progreso -->
<ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-buttons">
      <ion-button href="https://www.instagram.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-instagram" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.twitter.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-twitter" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.tiktok.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-tiktok" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.facebook.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-facebook" class="social-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
