<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" fill="clear">
        <ion-icon name="arrow-back" class="large-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="custom-title">Solicitud de Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img alt="Descripción de la imagen" src="https://www.ultraimagehub.com/wallpapers/tr:flp-false,gx-0.7,gy-1,q-75,rh-3264,rw-5824,th-1080,tw-1920/1272561573369483305.jpeg" />
</ion-card>

<!-- Contenido del formulario -->
<ion-content class="ion-padding">
  <form (submit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nombre de Contacto</ion-label>
      <ion-input [(ngModel)]="contactName" name="contactName" type="text" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="phone" name="phone" type="tel" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Consulta</ion-label>
      <ion-textarea [(ngModel)]="query" name="query" required></ion-textarea>
    </ion-item>
    
    <ion-button expand="block" type="submit" color="secondary">Enviar Solicitud</ion-button>
  </form>
</ion-content>

<ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-buttons">
      <ion-button href="https://www.instagram.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-instagram" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.twitter.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-twitter" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.tiktok.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-tiktok" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.facebook.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-facebook" class="social-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
