<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title" style="text-align: center;">Categorias</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Categoría de Ciencia Ficción -->
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Ciencia Ficción</ion-card-title>
      <ion-card-subtitle>Explora lo desconocido</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Descubre los libros que te llevarán a mundos futuristas y aventuras espaciales.
    </ion-card-content>
  </ion-card>

  <!-- Categoría de Fantasía -->
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Fantasía</ion-card-title>
      <ion-card-subtitle>Magia y aventura</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Sumérgete en universos mágicos y épicas batallas con nuestras selecciones de fantasía.
    </ion-card-content>
  </ion-card>

  <!-- Categoría de Misterio -->
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Misterio</ion-card-title>
      <ion-card-subtitle>Intriga y suspense</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Resuelve enigmas y descubre secretos en las historias más cautivadoras de misterio.
    </ion-card-content>
  </ion-card>

  <!-- Categoría de Romance -->
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Romance</ion-card-title>
      <ion-card-subtitle>Historias de amor</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Disfruta de las historias de amor más conmovedoras y apasionadas.
    </ion-card-content>
  </ion-card>

  <!-- Categoría de Historia -->
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Historia</ion-card-title>
      <ion-card-subtitle>Revive el pasado</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Aprende sobre eventos históricos y biografías fascinantes que han dado forma al mundo.
    </ion-card-content>
  </ion-card>

  <!-- Categoría de No Ficción -->
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>No Ficción</ion-card-title>
      <ion-card-subtitle>Hechos reales</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Explora libros que te brindan información y conocimientos sobre el mundo real.
    </ion-card-content>
  </ion-card>

  <!-- Categoría de Ciencia -->
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Ciencia</ion-card-title>
      <ion-card-subtitle>Exploración del conocimiento</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Adéntrate en los avances científicos y las maravillas del universo.
    </ion-card-content>
  </ion-card>

  <!-- Categoría de Autoayuda -->
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Autoayuda</ion-card-title>
      <ion-card-subtitle>Mejora personal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Encuentra recursos para el crecimiento personal y el desarrollo emocional.
    </ion-card-content>
  </ion-card>

  <!-- Categoría de Literatura Clásica -->
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Literatura Clásica</ion-card-title>
      <ion-card-subtitle>Obras maestras</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lee las obras literarias que han perdurado a través de los siglos y han influenciado la cultura.
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-buttons">
      <ion-button href="https://www.instagram.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-instagram" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.twitter.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-twitter" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.tiktok.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-tiktok" class="social-icon"></ion-icon>
      </ion-button>
      <ion-button href="https://www.facebook.com" target="_blank">
        <ion-icon slot="icon-only" name="logo-facebook" class="social-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

