.custom-title {
  text-align: center; /* Centra el texto */
  flex: 1; /* Ocupa el espacio restante en el toolbar */
  font-weight: bold; /* Letras más gruesas, opcional */
  color: #FFA500; /* Color personalizado, opcional */
}

ion-toolbar {
  display: flex;
  align-items: center; 
}

ion-buttons[slot="start"] {
  margin-right: auto; 
}

.large-icon {
  font-size: 32px; /* Tamaño del ícono, ajusta según sea necesario */
} 
  
.footer-buttons {
    display: flex;
    justify-content: space-around; /* Espacia uniformemente los botones */
    width: 100%;
  }
  
  .social-icon {
    font-size: 2rem; 
    color: #3b3b3b;
    transition: transform 0.2s;
  }
  
  .social-icon:hover {
    transform: scale(1.2); /* Efecto de agrandamiento al pasar el cursor */
  }
  